# Local Home Assistant instance for debugging
.gitignore
.HA_VERSION
.storage/
automations.yaml
blueprints/
configuration.yaml
docker-compose.yaml
groups.yaml
home-assistant.log.*
home-assistant_v2.db
home-assistant_v2.db-*
home-assistant.log
scenes.yaml
scripts.yaml
secrets.yaml
debugging

# Local python venv
bin
lib
pyvenv.cfg
.DS_Store
